body {
  color: #fef6c9;
  background-color: #fef6c9; }

nav ul li {
  display: inline-flex;
  justify-content: flex-end; }
  nav ul li a {
    text-decoration: none;
    display: block; }
    nav ul li a:hover {
      background-color: #878e88; }
