//import
@import "compass";

//color variables
$pri : #ffd23f;
$sec : #373737;
$tri : #FFFCF2;

//menu responsive width
$menu-width: 250px;

//menu bar height
$menu-height: 66px;
$footer-height: 66px;
