/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
//BASE
@import "partials/base";
@import "partials/buttons";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.container {
}

.site-content {
  padding-top: $menu-height*2;
}

a {
  text-decoration: none;
  color: inherit;
}

// HEADER

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  z-index: 3;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.header.is-hidden {
  transform: translateY(-100%);
}

.header-secondary {
  height: $menu-height;
  line-height: $menu-height;
  color: #FFF;
  background-color: $pri;
  z-index: 2;
}

.header-primary {
  height: $menu-height;
  line-height: $menu-height;
  text-align: left;
  background: url(../img/ls.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  &-infos{
    font-size: $normal;
    font-family: 'Montserrat', sans-serif;
  }
}

.header__logo {
  font-family: 'Roboto', sans-serif;
  font-size: $medium;
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

//FOOTER
.up {
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: $big;
  cursor: pointer;
  color: $tri;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: $sec;
  @include border-radius(2px);
  @include transition-duration(0.5s);
  @include transform(translateY(60px));
}

.up--show {
  @include transform(translateY(0px));
}

.footer {
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  background-color: $sec;
}

.footer__top {
  padding: 70px 0;
  color: white;
  background-color: $sec;
}

.footer__bottom {
  padding: 20px 0;
  background-color: $pri;
}

.widget {
  list-style-type: none;
  &-position {
    padding: 0;
    margin: 0;
  }
  &-title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

// MENU

.fixed {
  position: fixed;
  top: 0;
}

.menu {
  float: left;
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        display: block;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        padding: 0 10px;
        font-size: $small;
        @include transition-duration(0.2s);
        &:hover,
        &:focus {
          color: darken($sec, 4%);
        }

        &:active {
          color: darken($sec, 4%)
        }
      }
      display: inline-block; /* non-flexbox browsers */
    }
  }
}

//RESPONSIVE

@import "partials/_responsive";

// BODY

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

// SLIDER

.carousel {
  &-content {
    display: none;
    text-align: left;
    color: $tri;
  }
  &-title {
    background: rgba(34, 34, 34, 0.8);
    h2 {
      font-size: $big;
      letter-spacing: 5px;
      margin: 0;
      border-bottom: 1px solid $pri;
    }
  }
  &-body {
    background: rgba(34, 34, 34, 0.5);
  }
}

// SECTION

.banner {
  padding: 25px 0;
  background-color: $pri;
  text-align: center;
}

.projects {
  padding: 50px 0;
  &-title {
    ul {
      text-align: center;
      margin: 0;
      padding-bottom: 20px;
      li {
        margin-right: 15px;
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: $normal;
        letter-spacing: 1.3px;
        @include transition-duration(0.2s);
        &:hover,
        &:focus {
          color: darken($pri, 4%);
          border-color: $pri;
        }
        &:active {
          color: darken($pri, 4%);
          border-color: $pri;
        }
      }
    }
  }
  &-item {
    p {
      text-align: justify;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.background-fixed {
  position: relative;
  padding: 60px 0;
  background: url(../img/1.jpg) fixed;
  background-size: cover;
  text-align: center;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.8);
  }
  &-title {
    font-family: "Montserrat", sans-serif;
    color: $pri;
    position: relative;
    z-index: 1;
    padding: 20px 0;
  }
  &-body {
    color: $tri;
    position: relative;
    z-index: 1;
  }
}

// SIDEBAR
.sidebar {
  text-align: right;
  padding: 50px 0;
  h2 {
    margin: 0px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
  }
}

// BLOG SECTION

.blog {
  &-content {
    padding: 50px 0 25px;
  }
  &-post {
    margin-bottom: 40px;
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    h2 {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
      font-size: $big;
      a {
        @include transition-duration(0.2s);
        &:hover,
        &:focus {
          color: $pri;
        }
      }
    }
    &-body {
      pre {
        font-family: inherit;
      }
      text-align: justify;
    }
    &-time {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size: $small;
    }
    &-more {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: $normal;
      height: 100%;
      text-align: right;
      a {
        @include transition-duration(0.2s);
        &:hover,
        &:focus {
          color: $pri;
        }
      }
    }
  }
}

// TEMPLATE
.template-subheader {
  background-image: url("../img/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  &-content {
    padding: 50px 0;
    h1 {
      font-family: 'Montserrat', sans-serif;
    }
  }
  &-ariane {
    float: right;
    color: $tri;
  }
}

// PRESTATIONS TEMPLATE

.template-prestations {
  padding: 50px 0 25px;
  &-menu {
    margin: 0 0 30px 0;
    ul, li {
      list-style-type: none;
    }
    .page_item {
      a {
        font-family: 'Montserrat', sans-serif;
        font-size: $small;
        display: block;
        border-bottom: 1px solid lighten($sec, 10);
        padding: 15px 10px 15px 0;
        @include transition-duration(0.2s);
        &:hover,
        &:focus {
          background-color: $pri;
        }
        &:after {
          content: '>';
          float: right;
        }
      }
    }
    .current_page_item {
      background-color: $pri;
    }
  }
  &-content {
    h1, h2, h3, h4 {
      margin: 0 0 20px 0;
    }
    p {
      margin: 0 0 15px 0;
    }
  }
}

// ARM TEMPLATE

.template-arm-apropos {
  padding: 50px 0 25px;
  img {
    max-width: 100%;
    height: auto;
  }
}

// ACCUEIL TEMPLATE

.template-accueil-links{
  text-align: center;
  padding: 50px 0 25px;
  img{
    width: auto;
    height: 58px;
  }
}

// ERROR 404

.error404{
  text-align: center;
  padding-bottom: 25px;
  &-title{
    color: $sec;
    font-size: $big;
    font-family: 'Montserrat', sans-serif;
  }
  a{
    color: $pri;
    @include transition-duration(0.2s);
    &:hover,
    &:focus {
      color: $sec;
    }
  }
}