/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//BASE
@import "partials/base";
@import "partials/buttons";

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
}

.site-content {
}

a{
 text-decoration: none;
 color: inherit;
}

// HEADER

 .header{
   height: $menu-height;

   line-height: $menu-height;
   color: #FFF;
   background-color: $pri;
   z-index: 1;
 }

 .topbar{
   height: $menu-height;
   line-height: $menu-height;
   text-align: center;
   background: url(../img/ls.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 .header__logo{
   font-weight: bold;
   padding: 0 25px;
   float: left;
 }

 //FOOTER
.footer{
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  background-color: $sec;
}

.footer__top{
  padding: 70px 0;
  color: white;
  background-color: $sec;
}

.footer__bottom{
  padding: 20px 0;
  background-color: $pri;
}


 // MENU

 .fixed{
   position: fixed;
   top: 0;
 }

.menu{
  float: left;
  ul{
    margin: 0;
    padding: 0;
   li {
     a{
       display: block;
       text-transform: uppercase;
       font-family: 'Montserrat', sans-serif;
       padding: 0 10px;
       font-size: 1em;
       @include transition-duration(0.2s);
       &:hover,
       &:focus{
         color: darken($sec, 4%);
       }

       &:active{
       color: darken($sec, 4%)
       }
     }
     display: inline-block; /* non-flexbox browsers */
   }
  }
}

//RESPONSIVE

@import "partials/_responsive";

// BODY

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

// SECTION

.banner{
  padding: 25px 0;
  background-color: $pri;
  text-align: center;
}

.projects{
  padding: 50px 0;
  background-color: $tri;
  &-title{
    ul{
      margin: 0;
      padding: 20px 0;
      li{
        margin-right:10px;
        display: inline-block;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        @include transition-duration(0.2s);
        &:hover,
        &:focus{
          color: darken($pri, 4%);
          border-color: $pri;
        }
        &:active{
          color: darken($pri, 4%);
          border-color: $pri;
        }
      }
    }
  }
  &-item{
    float: left;
    width: 100px;
    height: 100px;
    background:url(../img/2.jpg);
    background-size: cover;
    border: 2px solid #b6b5b4;
  }
}

.background-fixed{
  position: relative;
  padding: 60px 0;
  background: url(../img/1.jpg)
    fixed;
  background-size: cover;
  text-align: center;
  &:after{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34,34,34,0.8);
  }
  &-title{
    font-family: "Montserrat", sans-serif;
    color: $pri;
    position: relative;
    z-index: 2;
    padding: 20px 0;
  }
  &-body{
    color: $tri;
    position: relative;
    z-index: 2;
  }
}

// BLOG SECTION

.blog{
  &-post{
    margin-bottom: 40px;
    img{
      max-width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    h2{
      margin: 0;
      padding: 0;
    }
    &-time{
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
    }
  }
}