/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//BASE
@import "partials/base";
@import "buttons";

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
}

.site-content {
}

a{
 text-decoration: none;
 color: inherit;
}

// HEADER

 .header{
   height: $menu-height;

   line-height: $menu-height;
   color: #FFF;
   background-color: $pri;
   z-index: 1;
 }

 .topbar{
   height: $menu-height;
   line-height: $menu-height;
   text-align: center;
 }

 .header__logo{
   font-weight: bold;
   padding: 0 25px;
   float: left;
 }

 //FOOTER
.footer{
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  background-color: $sec;
}

.footer__top{
  padding: 70px 0;
  color: white;
  background-color: $sec;
}

.footer__bottom{
  padding: 20px 0;
  background-color: $pri;
}


 // MENU

 .fixed{
   position: fixed;
   top: 0;
 }

.menu{
  float: left;
  ul{
    margin: 0;
    padding: 0;
   li {
     a{
       display: block;
       text-transform: uppercase;
       font-family: 'Montserrat', sans-serif;
       padding: 0 10px;
       font-size: 1em;
       @include transition-duration(0.2s);
       &:hover {
         color: $sec;
       }
     }
     display: inline-block; /* non-flexbox browsers */
   }
  }
}

//RESPONSIVE

@import "responsive";

// BODY

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
