$primary-color: #fef6c9;
$pink: #725752;
$tierce : #878e88;

body{
  color: $primary-color;
  background-color: $primary-color;
}

nav{

  ul{
    li{
      display: inline-flex;
      justify-content: flex-end;
      a{
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $tierce;
        }
      }
    }
  }
}
