@media only screen and (max-width: 768px){
  .site-pusher, .site-container{
    height: 100%;
  }
  .site-container{
    overflow-x: hidden;
  }

  .site-pusher{
    @include transition-duration(0.3s);
    @include transform(translateX(0px));
  }

  .header__icon{
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: $menu-height;

    cursor: pointer;

    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      @include box-shadow(0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF);
    }
  }

  .up{
    display: none;
  }

  .menu{
    position: absolute;
    left: 0;
    top: 0;
    background-color: darken($pri, 5);

    width: $menu-width;
    @include transform(translateX($menu-width * -1));

    li{
      display: block !important;
      height: 40px;

      text-align: center;
      line-height: 40px;

      border-bottom: 1px solid $sec;
    }
  }

  .with--sidebar{
    .site-pusher{
      @include transform(translateX($menu-width));
    }

    .site-container{
      overflow: hidden;
    }

    .site-cache{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}
