/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_buttons.scss */
.blue-btn {
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #373737;
  cursor: pointer;
  -moz-transition: background-color 0.14s ease-in-out;
  -o-transition: background-color 0.14s ease-in-out;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
}
/* line 19, ../sass/partials/_buttons.scss */
.blue-btn:hover, .blue-btn:focus {
  color: #FFFCF2;
  text-decoration: none;
  outline: none;
}
/* line 26, ../sass/partials/_buttons.scss */
.blue-btn:active {
  top: 1px;
}

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
/* line 37, ../sass/partials/_buttons.scss */
.blue-btn {
  background-color: transparent;
}
/* line 41, ../sass/partials/_buttons.scss */
.blue-btn:hover, .blue-btn:focus {
  background-color: #ffcd2b;
}
/* line 46, ../sass/partials/_buttons.scss */
.blue-btn:active {
  background-color: #ffcc26;
}

/* line 9, ../sass/armtheme.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/armtheme.scss */
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 32, ../sass/armtheme.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 39, ../sass/armtheme.scss */
.header {
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #ffd23f;
  z-index: 2;
}

/* line 47, ../sass/armtheme.scss */
.topbar {
  height: 66px;
  line-height: 66px;
  text-align: center;
  background: url(../img/ls.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 57, ../sass/armtheme.scss */
.header__logo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 66, ../sass/armtheme.scss */
.up {
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  color: #FFFCF2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: #373737;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}

/* line 85, ../sass/armtheme.scss */
.up--show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 89, ../sass/armtheme.scss */
.footer {
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: #373737;
}

/* line 96, ../sass/armtheme.scss */
.footer__top {
  padding: 70px 0;
  color: white;
  background-color: #373737;
}

/* line 102, ../sass/armtheme.scss */
.footer__bottom {
  padding: 20px 0;
  background-color: #ffd23f;
}

/* line 107, ../sass/armtheme.scss */
.widget {
  list-style-type: none;
}
/* line 109, ../sass/armtheme.scss */
.widget-position {
  padding: 0;
  margin: 0;
}
/* line 113, ../sass/armtheme.scss */
.widget-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 121, ../sass/armtheme.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 126, ../sass/armtheme.scss */
.menu {
  float: left;
}
/* line 128, ../sass/armtheme.scss */
.menu ul {
  margin: 0;
  padding: 0;
}
/* line 131, ../sass/armtheme.scss */
.menu ul li {
  display: inline-block;
  /* non-flexbox browsers */
}
/* line 132, ../sass/armtheme.scss */
.menu ul li a {
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  font-size: 1em;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 139, ../sass/armtheme.scss */
.menu ul li a:hover, .menu ul li a:focus {
  color: #2d2d2d;
}
/* line 144, ../sass/armtheme.scss */
.menu ul li a:active {
  color: #2d2d2d;
}

@media only screen and (max-width: 768px) {
  /* line 2, ../sass/partials/_responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 8, ../sass/partials/_responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 13, ../sass/partials/_responsive.scss */
  .site-content {
    padding-top: 0;
  }

  /* line 17, ../sass/partials/_responsive.scss */
  .header {
    position: static;
  }

  /* line 21, ../sass/partials/_responsive.scss */
  .topbar {
    display: none;
  }

  /* line 25, ../sass/partials/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 34, ../sass/partials/_responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 46, ../sass/partials/_responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #ffcc26;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 56, ../sass/partials/_responsive.scss */
  .menu li {
    display: block !important;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #373737;
  }

  /* line 68, ../sass/partials/_responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 72, ../sass/partials/_responsive.scss */
  .with--sidebar .site-container {
    overflow: hidden;
  }
  /* line 76, ../sass/partials/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 159, ../sass/armtheme.scss */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/* line 166, ../sass/armtheme.scss */
.carousel-content {
  display: none;
  text-align: center;
  color: #FFFCF2;
  padding: 20px;
}
/* line 172, ../sass/armtheme.scss */
.carousel-title {
  background: rgba(34, 34, 34, 0.8);
}
/* line 174, ../sass/armtheme.scss */
.carousel-title h2 {
  margin: 0;
  border-bottom: 1px solid #ffd23f;
}
/* line 179, ../sass/armtheme.scss */
.carousel-body {
  background: rgba(34, 34, 34, 0.5);
}

/* line 186, ../sass/armtheme.scss */
.banner {
  padding: 25px 0;
  background-color: #ffd23f;
  text-align: center;
}

/* line 192, ../sass/armtheme.scss */
.projects {
  padding: 50px 0;
  background-color: #FFFCF2;
}
/* line 196, ../sass/armtheme.scss */
.projects-title ul {
  margin: 0;
  padding: 20px 0;
}
/* line 199, ../sass/armtheme.scss */
.projects-title ul li {
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 205, ../sass/armtheme.scss */
.projects-title ul li:hover, .projects-title ul li:focus {
  color: #ffcd2b;
  border-color: #ffd23f;
}
/* line 210, ../sass/armtheme.scss */
.projects-title ul li:active {
  color: #ffcd2b;
  border-color: #ffd23f;
}
/* line 217, ../sass/armtheme.scss */
.projects-item {
  float: left;
  width: 100px;
  height: 100px;
  background: url(../img/2.jpg);
  background-size: cover;
  border: 2px solid #b6b5b4;
}

/* line 227, ../sass/armtheme.scss */
.background-fixed {
  position: relative;
  padding: 60px 0;
  background: url(../img/1.jpg) fixed;
  background-size: cover;
  text-align: center;
}
/* line 233, ../sass/armtheme.scss */
.background-fixed:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
}
/* line 242, ../sass/armtheme.scss */
.background-fixed-title {
  font-family: "Montserrat", sans-serif;
  color: #ffd23f;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
/* line 249, ../sass/armtheme.scss */
.background-fixed-body {
  color: #FFFCF2;
  position: relative;
  z-index: 1;
}

/* line 257, ../sass/armtheme.scss */
.sidebar {
  text-align: right;
  padding: 50px 0;
}
/* line 260, ../sass/armtheme.scss */
.sidebar h2 {
  margin: 0px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* line 265, ../sass/armtheme.scss */
.sidebar ul {
  list-style-type: none;
}

/* line 273, ../sass/armtheme.scss */
.blog-content {
  padding: 50px 0 25px;
}
/* line 276, ../sass/armtheme.scss */
.blog-post {
  margin-bottom: 40px;
}
/* line 278, ../sass/armtheme.scss */
.blog-post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
/* line 283, ../sass/armtheme.scss */
.blog-post h2 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}
/* line 288, ../sass/armtheme.scss */
.blog-post h2 a {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 290, ../sass/armtheme.scss */
.blog-post h2 a:hover, .blog-post h2 a:focus {
  color: #ffd23f;
}
/* line 296, ../sass/armtheme.scss */
.blog-post-body {
  text-align: justify;
}
/* line 297, ../sass/armtheme.scss */
.blog-post-body pre {
  font-family: inherit;
}
/* line 302, ../sass/armtheme.scss */
.blog-post-time {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}
/* line 307, ../sass/armtheme.scss */
.blog-post-more {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  height: 100%;
  text-align: right;
}
/* line 313, ../sass/armtheme.scss */
.blog-post-more a {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 315, ../sass/armtheme.scss */
.blog-post-more a:hover, .blog-post-more a:focus {
  color: #ffd23f;
}

/* line 325, ../sass/armtheme.scss */
.template-subheader {
  background-image: url("../img/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
/* line 330, ../sass/armtheme.scss */
.template-subheader-content {
  padding: 50px 0;
}
/* line 332, ../sass/armtheme.scss */
.template-subheader-content h1 {
  font-family: 'Montserrat', sans-serif;
}
/* line 336, ../sass/armtheme.scss */
.template-subheader-ariane {
  float: right;
  color: #FFFCF2;
}

/* line 344, ../sass/armtheme.scss */
.template-prestations {
  padding: 50px 0 25px;
}
/* line 346, ../sass/armtheme.scss */
.template-prestations-menu {
  margin: 0 0 30px 0;
}
/* line 348, ../sass/armtheme.scss */
.template-prestations-menu ul, .template-prestations-menu li {
  list-style-type: none;
}
/* line 352, ../sass/armtheme.scss */
.template-prestations-menu .page_item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  display: block;
  border-bottom: 1px solid #515151;
  padding: 15px 10px 15px 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 359, ../sass/armtheme.scss */
.template-prestations-menu .page_item a:hover, .template-prestations-menu .page_item a:focus {
  background-color: #ffd23f;
}
/* line 363, ../sass/armtheme.scss */
.template-prestations-menu .page_item a:after {
  content: '>';
  float: right;
}
/* line 369, ../sass/armtheme.scss */
.template-prestations-menu .current_page_item {
  background-color: #ffd23f;
}
/* line 374, ../sass/armtheme.scss */
.template-prestations-content h1, .template-prestations-content h2, .template-prestations-content h3, .template-prestations-content h4 {
  margin: 0 0 20px 0;
}
/* line 377, ../sass/armtheme.scss */
.template-prestations-content p {
  margin: 0 0 15px 0;
}

/* line 385, ../sass/armtheme.scss */
.template-arm-apropos {
  padding: 50px 0 25px;
}
/* line 387, ../sass/armtheme.scss */
.template-arm-apropos img {
  max-width: 100%;
  height: auto;
}
