/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_buttons.scss */
.blue-btn {
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 2px;
  border: 2px solid #373737;
  cursor: pointer;
  -moz-transition: background-color 0.14s ease-in-out;
  -o-transition: background-color 0.14s ease-in-out;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
}
/* line 19, ../sass/partials/_buttons.scss */
.blue-btn:hover, .blue-btn:focus {
  color: #FFFCF2;
  text-decoration: none;
  outline: none;
}
/* line 26, ../sass/partials/_buttons.scss */
.blue-btn:active {
  top: 1px;
}

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
/* line 37, ../sass/partials/_buttons.scss */
.blue-btn {
  background-color: transparent;
}
/* line 41, ../sass/partials/_buttons.scss */
.blue-btn:hover, .blue-btn:focus {
  background-color: #ffcd2b;
}
/* line 46, ../sass/partials/_buttons.scss */
.blue-btn:active {
  background-color: #ffcc26;
}

/* line 10, ../sass/armtheme.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/armtheme.scss */
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 33, ../sass/armtheme.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 40, ../sass/armtheme.scss */
.header {
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #ffd23f;
  z-index: 2;
}

/* line 48, ../sass/armtheme.scss */
.topbar {
  height: 66px;
  line-height: 66px;
  text-align: center;
  background: url(../img/ls.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 58, ../sass/armtheme.scss */
.header__logo {
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 67, ../sass/armtheme.scss */
.footer {
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: #373737;
}

/* line 74, ../sass/armtheme.scss */
.footer__top {
  padding: 70px 0;
  color: white;
  background-color: #373737;
}

/* line 80, ../sass/armtheme.scss */
.footer__bottom {
  padding: 20px 0;
  background-color: #ffd23f;
}

/* line 88, ../sass/armtheme.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 93, ../sass/armtheme.scss */
.menu {
  float: left;
}
/* line 95, ../sass/armtheme.scss */
.menu ul {
  margin: 0;
  padding: 0;
}
/* line 98, ../sass/armtheme.scss */
.menu ul li {
  display: inline-block;
  /* non-flexbox browsers */
}
/* line 99, ../sass/armtheme.scss */
.menu ul li a {
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  font-size: 1em;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 106, ../sass/armtheme.scss */
.menu ul li a:hover, .menu ul li a:focus {
  color: #2d2d2d;
}
/* line 111, ../sass/armtheme.scss */
.menu ul li a:active {
  color: #2d2d2d;
}

@media only screen and (max-width: 768px) {
  /* line 2, ../sass/partials/_responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 8, ../sass/partials/_responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 13, ../sass/partials/_responsive.scss */
  .site-content {
    padding-top: 0;
  }

  /* line 17, ../sass/partials/_responsive.scss */
  .header {
    position: static;
  }

  /* line 21, ../sass/partials/_responsive.scss */
  .topbar {
    display: none;
  }

  /* line 25, ../sass/partials/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 34, ../sass/partials/_responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 46, ../sass/partials/_responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #ffcc26;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 56, ../sass/partials/_responsive.scss */
  .menu li {
    display: block !important;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #373737;
  }

  /* line 68, ../sass/partials/_responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 72, ../sass/partials/_responsive.scss */
  .with--sidebar .site-container {
    overflow: hidden;
  }
  /* line 76, ../sass/partials/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 126, ../sass/armtheme.scss */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/* line 133, ../sass/armtheme.scss */
.carousel-content {
  text-align: center;
  color: #FFFCF2;
  padding: 20px;
}
/* line 138, ../sass/armtheme.scss */
.carousel-title {
  background: rgba(34, 34, 34, 0.8);
}
/* line 140, ../sass/armtheme.scss */
.carousel-title h2 {
  margin: 0;
  border-bottom: 1px solid #ffd23f;
}
/* line 145, ../sass/armtheme.scss */
.carousel-body {
  background: rgba(34, 34, 34, 0.5);
}

/* line 152, ../sass/armtheme.scss */
.banner {
  padding: 25px 0;
  background-color: #ffd23f;
  text-align: center;
}

/* line 158, ../sass/armtheme.scss */
.projects {
  padding: 50px 0;
  background-color: #FFFCF2;
}
/* line 162, ../sass/armtheme.scss */
.projects-title ul {
  margin: 0;
  padding: 20px 0;
}
/* line 165, ../sass/armtheme.scss */
.projects-title ul li {
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 171, ../sass/armtheme.scss */
.projects-title ul li:hover, .projects-title ul li:focus {
  color: #ffcd2b;
  border-color: #ffd23f;
}
/* line 176, ../sass/armtheme.scss */
.projects-title ul li:active {
  color: #ffcd2b;
  border-color: #ffd23f;
}
/* line 183, ../sass/armtheme.scss */
.projects-item {
  float: left;
  width: 100px;
  height: 100px;
  background: url(../img/2.jpg);
  background-size: cover;
  border: 2px solid #b6b5b4;
}

/* line 193, ../sass/armtheme.scss */
.background-fixed {
  position: relative;
  padding: 60px 0;
  background: url(../img/1.jpg) fixed;
  background-size: cover;
  text-align: center;
}
/* line 200, ../sass/armtheme.scss */
.background-fixed:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
}
/* line 209, ../sass/armtheme.scss */
.background-fixed-title {
  font-family: "Montserrat", sans-serif;
  color: #ffd23f;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
/* line 216, ../sass/armtheme.scss */
.background-fixed-body {
  color: #FFFCF2;
  position: relative;
  z-index: 1;
}

/* line 226, ../sass/armtheme.scss */
.blog-content {
  padding: 50px 0 25px;
}
/* line 229, ../sass/armtheme.scss */
.blog-post {
  margin-bottom: 40px;
}
/* line 231, ../sass/armtheme.scss */
.blog-post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
/* line 236, ../sass/armtheme.scss */
.blog-post h2 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}
/* line 241, ../sass/armtheme.scss */
.blog-post h2 a {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 243, ../sass/armtheme.scss */
.blog-post h2 a:hover, .blog-post h2 a:focus {
  color: #ffd23f;
}
/* line 249, ../sass/armtheme.scss */
.blog-post-body {
  text-align: justify;
}
/* line 250, ../sass/armtheme.scss */
.blog-post-body pre {
  font-family: inherit;
}
/* line 255, ../sass/armtheme.scss */
.blog-post-time {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}
/* line 260, ../sass/armtheme.scss */
.blog-post-more {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  height: 100%;
  text-align: right;
}
/* line 266, ../sass/armtheme.scss */
.blog-post-more a {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 268, ../sass/armtheme.scss */
.blog-post-more a:hover, .blog-post-more a:focus {
  color: #ffd23f;
}
