/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_buttons.scss */
.blue-btn {
  display: inline-block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #373737;
  text-transform: uppercase;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #373737;
  cursor: pointer;
  -moz-transition: background-color 0.14s ease-in-out;
  -o-transition: background-color 0.14s ease-in-out;
  -webkit-transition: background-color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
}
/* line 19, ../sass/partials/_buttons.scss */
.blue-btn:hover, .blue-btn:focus {
  color: #FFFCF2;
  text-decoration: none;
  outline: none;
}
/* line 26, ../sass/partials/_buttons.scss */
.blue-btn:active {
  top: 1px;
}

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
/* line 37, ../sass/partials/_buttons.scss */
.blue-btn {
  background-color: transparent;
}
/* line 41, ../sass/partials/_buttons.scss */
.blue-btn:hover, .blue-btn:focus {
  background-color: #ffcd2b;
}
/* line 46, ../sass/partials/_buttons.scss */
.blue-btn:active {
  background-color: #ffcc26;
}

/* line 9, ../sass/armtheme.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/armtheme.scss */
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 29, ../sass/armtheme.scss */
.site-content {
  padding-top: 132px;
}

/* line 33, ../sass/armtheme.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 40, ../sass/armtheme.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  z-index: 3;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

/* line 57, ../sass/armtheme.scss */
.header.is-hidden {
  transform: translateY(-100%);
}

/* line 61, ../sass/armtheme.scss */
.header-secondary {
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #ffd23f;
  z-index: 2;
}

/* line 69, ../sass/armtheme.scss */
.header-primary {
  height: 66px;
  line-height: 66px;
  text-align: left;
  background: url(../img/ls.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
/* line 78, ../sass/armtheme.scss */
.header-primary-infos {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

/* line 84, ../sass/armtheme.scss */
.header__logo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 93, ../sass/armtheme.scss */
.up {
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  color: #FFFCF2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: #373737;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
}

/* line 112, ../sass/armtheme.scss */
.up--show {
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 116, ../sass/armtheme.scss */
.footer {
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: #373737;
}

/* line 123, ../sass/armtheme.scss */
.footer__top {
  padding: 70px 0;
  color: white;
  background-color: #373737;
}

/* line 129, ../sass/armtheme.scss */
.footer__bottom {
  padding: 20px 0;
  background-color: #ffd23f;
}

/* line 134, ../sass/armtheme.scss */
.widget {
  list-style-type: none;
}
/* line 136, ../sass/armtheme.scss */
.widget-position {
  padding: 0;
  margin: 0;
}
/* line 140, ../sass/armtheme.scss */
.widget-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 148, ../sass/armtheme.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 153, ../sass/armtheme.scss */
.menu {
  float: left;
}
/* line 155, ../sass/armtheme.scss */
.menu ul {
  margin: 0;
  padding: 0;
}
/* line 158, ../sass/armtheme.scss */
.menu ul li {
  display: inline-block;
  /* non-flexbox browsers */
}
/* line 159, ../sass/armtheme.scss */
.menu ul li a {
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  font-size: 0.8em;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 166, ../sass/armtheme.scss */
.menu ul li a:hover, .menu ul li a:focus {
  color: #2d2d2d;
}
/* line 171, ../sass/armtheme.scss */
.menu ul li a:active {
  color: #2d2d2d;
}

@media only screen and (max-width: 768px) {
  /* line 2, ../sass/partials/_responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 8, ../sass/partials/_responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 13, ../sass/partials/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 22, ../sass/partials/_responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 34, ../sass/partials/_responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffcc26;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 43, ../sass/partials/_responsive.scss */
  .menu li {
    display: block !important;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #373737;
  }

  /* line 55, ../sass/partials/_responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 59, ../sass/partials/_responsive.scss */
  .with--sidebar .site-container {
    overflow: hidden;
  }
  /* line 63, ../sass/partials/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 186, ../sass/armtheme.scss */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/* line 193, ../sass/armtheme.scss */
.carousel-content {
  display: none;
  text-align: left;
  color: #FFFCF2;
}
/* line 198, ../sass/armtheme.scss */
.carousel-title {
  background: rgba(34, 34, 34, 0.8);
}
/* line 200, ../sass/armtheme.scss */
.carousel-title h2 {
  font-size: 2em;
  letter-spacing: 5px;
  margin: 0;
  border-bottom: 1px solid #ffd23f;
}
/* line 207, ../sass/armtheme.scss */
.carousel-body {
  background: rgba(34, 34, 34, 0.5);
}

/* line 214, ../sass/armtheme.scss */
.banner {
  padding: 25px 0;
  background-color: #ffd23f;
  text-align: center;
}

/* line 220, ../sass/armtheme.scss */
.projects {
  padding: 50px 0;
}
/* line 223, ../sass/armtheme.scss */
.projects-title ul {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
/* line 227, ../sass/armtheme.scss */
.projects-title ul li {
  margin-right: 15px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 1.3px;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 236, ../sass/armtheme.scss */
.projects-title ul li:hover, .projects-title ul li:focus {
  color: #ffcd2b;
  border-color: #ffd23f;
}
/* line 241, ../sass/armtheme.scss */
.projects-title ul li:active {
  color: #ffcd2b;
  border-color: #ffd23f;
}
/* line 249, ../sass/armtheme.scss */
.projects-item p {
  text-align: justify;
}
/* line 252, ../sass/armtheme.scss */
.projects-item img {
  max-width: 100%;
  height: auto;
}

/* line 259, ../sass/armtheme.scss */
.background-fixed {
  position: relative;
  padding: 60px 0;
  background: url(../img/1.jpg) fixed;
  background-size: cover;
  text-align: center;
}
/* line 265, ../sass/armtheme.scss */
.background-fixed:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.8);
}
/* line 274, ../sass/armtheme.scss */
.background-fixed-title {
  font-family: "Montserrat", sans-serif;
  color: #ffd23f;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
/* line 281, ../sass/armtheme.scss */
.background-fixed-body {
  color: #FFFCF2;
  position: relative;
  z-index: 1;
}

/* line 289, ../sass/armtheme.scss */
.sidebar {
  text-align: right;
  padding: 50px 0;
}
/* line 292, ../sass/armtheme.scss */
.sidebar h2 {
  margin: 0px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
/* line 297, ../sass/armtheme.scss */
.sidebar ul {
  list-style-type: none;
}

/* line 305, ../sass/armtheme.scss */
.blog-content {
  padding: 50px 0 25px;
}
/* line 308, ../sass/armtheme.scss */
.blog-post {
  margin-bottom: 40px;
}
/* line 310, ../sass/armtheme.scss */
.blog-post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}
/* line 315, ../sass/armtheme.scss */
.blog-post h2 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}
/* line 320, ../sass/armtheme.scss */
.blog-post h2 a {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 322, ../sass/armtheme.scss */
.blog-post h2 a:hover, .blog-post h2 a:focus {
  color: #ffd23f;
}
/* line 328, ../sass/armtheme.scss */
.blog-post-body {
  text-align: justify;
}
/* line 329, ../sass/armtheme.scss */
.blog-post-body pre {
  font-family: inherit;
}
/* line 334, ../sass/armtheme.scss */
.blog-post-time {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}
/* line 339, ../sass/armtheme.scss */
.blog-post-more {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  height: 100%;
  text-align: right;
}
/* line 345, ../sass/armtheme.scss */
.blog-post-more a {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 347, ../sass/armtheme.scss */
.blog-post-more a:hover, .blog-post-more a:focus {
  color: #ffd23f;
}

/* line 357, ../sass/armtheme.scss */
.template-subheader {
  background-image: url("../img/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
/* line 362, ../sass/armtheme.scss */
.template-subheader-content {
  padding: 50px 0;
}
/* line 364, ../sass/armtheme.scss */
.template-subheader-content h1 {
  font-family: 'Montserrat', sans-serif;
}
/* line 368, ../sass/armtheme.scss */
.template-subheader-ariane {
  float: right;
  color: #FFFCF2;
}

/* line 376, ../sass/armtheme.scss */
.template-prestations {
  padding: 50px 0 25px;
}
/* line 378, ../sass/armtheme.scss */
.template-prestations-menu {
  margin: 0 0 30px 0;
}
/* line 380, ../sass/armtheme.scss */
.template-prestations-menu ul, .template-prestations-menu li {
  list-style-type: none;
}
/* line 384, ../sass/armtheme.scss */
.template-prestations-menu .page_item a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  display: block;
  border-bottom: 1px solid #515151;
  padding: 15px 10px 15px 0;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 391, ../sass/armtheme.scss */
.template-prestations-menu .page_item a:hover, .template-prestations-menu .page_item a:focus {
  background-color: #ffd23f;
}
/* line 395, ../sass/armtheme.scss */
.template-prestations-menu .page_item a:after {
  content: '>';
  float: right;
}
/* line 401, ../sass/armtheme.scss */
.template-prestations-menu .current_page_item {
  background-color: #ffd23f;
}
/* line 406, ../sass/armtheme.scss */
.template-prestations-content h1, .template-prestations-content h2, .template-prestations-content h3, .template-prestations-content h4 {
  margin: 0 0 20px 0;
}
/* line 409, ../sass/armtheme.scss */
.template-prestations-content p {
  margin: 0 0 15px 0;
}

/* line 417, ../sass/armtheme.scss */
.template-arm-apropos {
  padding: 50px 0 25px;
}
/* line 419, ../sass/armtheme.scss */
.template-arm-apropos img {
  max-width: 100%;
  height: auto;
}

/* line 427, ../sass/armtheme.scss */
.template-accueil-links {
  text-align: center;
  padding: 50px 0 25px;
}
/* line 430, ../sass/armtheme.scss */
.template-accueil-links img {
  width: auto;
  height: 58px;
}

/* line 438, ../sass/armtheme.scss */
.error404 {
  text-align: center;
  padding-bottom: 25px;
}
/* line 441, ../sass/armtheme.scss */
.error404-title {
  color: #373737;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}
/* line 446, ../sass/armtheme.scss */
.error404 a {
  color: #ffd23f;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 449, ../sass/armtheme.scss */
.error404 a:hover, .error404 a:focus {
  color: #373737;
}
