/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 34, ../sass/screen.scss */
.header {
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #EB5E28;
  z-index: 1;
}

/* line 43, ../sass/screen.scss */
.topbar {
  height: 66px;
  line-height: 66px;
  text-align: center;
}

/* line 49, ../sass/screen.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 56, ../sass/screen.scss */
.footer {
  height: 66px;
  line-height: 66px;
  text-align: center;
  background-color: #252422;
}

/* line 66, ../sass/screen.scss */
.fixed {
  position: fixed;
  top: 0;
}

/* line 71, ../sass/screen.scss */
.menu {
  float: left;
}
/* line 73, ../sass/screen.scss */
.menu ul {
  margin: 0;
  padding: 0;
}
/* line 76, ../sass/screen.scss */
.menu ul li {
  display: inline-block;
  /* non-flexbox browsers */
}
/* line 77, ../sass/screen.scss */
.menu ul li a {
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10px;
  font-size: 1em;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 84, ../sass/screen.scss */
.menu ul li a:hover {
  color: #252422;
}

@media only screen and (max-width: 768px) {
  /* line 2, ../sass/_responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 8, ../sass/_responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 13, ../sass/_responsive.scss */
  .site-content {
    padding-top: 0;
  }

  /* line 17, ../sass/_responsive.scss */
  .header {
    position: static;
  }

  /* line 21, ../sass/_responsive.scss */
  .topbar {
    display: none;
  }

  /* line 25, ../sass/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 34, ../sass/_responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 46, ../sass/_responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e44f15;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 56, ../sass/_responsive.scss */
  .menu li {
    display: block !important;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #252422;
  }

  /* line 68, ../sass/_responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 72, ../sass/_responsive.scss */
  .with--sidebar .site-container {
    overflow: hidden;
  }
  /* line 76, ../sass/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* line 99, ../sass/screen.scss */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
