/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../sass/screen.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/screen.scss */
.container {
  margin: 0 20px;
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../sass/screen.scss */
.site-content {
  position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 0;
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch;
}

/* line 37, ../sass/screen.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 44, ../sass/screen.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #EB5E28;
}

/* line 55, ../sass/screen.scss */
.header__logo {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 63, ../sass/screen.scss */
.menu {
  float: left;
}
/* line 65, ../sass/screen.scss */
.menu ul {
  margin: 0;
  padding: 0;
}
/* line 68, ../sass/screen.scss */
.menu ul li {
  display: inline-block;
  /* non-flexbox browsers */
}
/* line 69, ../sass/screen.scss */
.menu ul li a {
  padding: 0 10px;
}
/* line 71, ../sass/screen.scss */
.menu ul li a:hover {
  color: #252422;
}

@media only screen and (max-width: 720px) {
  /* line 2, ../sass/_responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 5, ../sass/_responsive.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 8, ../sass/_responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 13, ../sass/_responsive.scss */
  .header {
    position: static;
  }

  /* line 16, ../sass/_responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 25, ../sass/_responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 37, ../sass/_responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #e44f15;
    width: 250px;
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  /* line 47, ../sass/_responsive.scss */
  .menu li {
    display: block !important;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #252422;
  }

  /* line 59, ../sass/_responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 63, ../sass/_responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
